@import modals.userModal;
@(user: userModal)
<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <title>TweetAnalytics - Profile (@user.getUser().getScreenName())</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("img/favicon.png")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/search.css")" />
        <script src="@routes.Assets.versioned("javascripts/jquery-3.3.1.min.js")"></script>
            <!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    </head>
    <body class="twitter-soen">
        <div class="tweets-body">
            <p class="p-headline">User Profile</p>
            <img class="img-center" src="@user.getUser().getBiggerProfileImageURLHttps()">
            <p class="center">ID - @user.getUser().getId()</p>
            <p class="center">NAME - @user.getUser().getName()</p>
            @if(user.getUser().getEmail()!= null) {
                <p class="center">EMAIL - @user.getUser().getEmail()</p>
            }
            @if(user.getUser().getLocation()!= null) {
                <p class="center">LOCATION - @user.getUser().getLocation()</p>
            }
            @if(user.getUser().getScreenName()!= null) {
                <p class="center">TWITTER PROFILE - <a target="_blank" href="https://twitter.com/@user.getUser().getScreenName()">@user.getUser().getScreenName()</a></p>
            }
            @if(user.getUser().getDescription()!= null) {
                <p class="center">DESCRIPTION - @user.getUser().getDescription()</p>
            }
            <p class="center">FOLLOWERS COUNT - @user.getUser().getFollowersCount()</p>
            @if(user.getUser().getURL()!= null) {
                <p class="center">PUBLIC URL - <a target="_blank" href="@user.getUser().getURL()">@user.getUser().getURL()</a></p>
            }
            <p class="p-headline">TIMELINE</p>
            @for(tweet <- user.getTimeline()) {
                <p>* @tweet.getText()</p>
            }
        </div>
    </body>
</html>

